In [ ]:
from bs4 import BeautifulSoup
import requests
c='https://www.forbesindia.com/article/explainers/top-10-richest-people-india/85909/1'
page=requests.get(c)

In [ ]:
b=BeautifulSoup(page.text,'html')
print(b)

In [ ]:
table=b.find('table')
print(table)

<table style="border-collapse: collapse;">
<tbody>
<tr>
<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#1 Mukesh Ambani <br/></td>
<td style="border: 1px solid black; padding: 8px;">11</td>
<td style="border: 1px solid black; padding: 8px;">$113.0 B</td>
<td style="border: 1px solid black; padding: 8px;">Reliance Industries</td>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#2 Gautam Adani <br/></td>
<td style="border: 1px solid black; padding: 8px;">16<br/></td>
<td style="border: 1px solid black; padding: 8px;">$81.2 B</td>
<td style="border: 1px solid black; padding: 8px;">Adani Group</td>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#3 Shiv Nadar <br/></td>
<td style="border: 1px solid black; padding: 8px;">37<br/></td>
<td style="border: 1px solid black; padding: 8px;">$37.1 B</td>
<td style="border: 1px solid black; padding: 8px;">HCL Technologies   <br/></td>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#4 Savitri Jindal &amp; family <br/></td>
<td style="border: 1px solid black; padding: 8px;">58<br/></td>
<td style="border: 1px solid black; padding: 8px;">$28.9 B</td>
<td style="border: 1px solid black; padding: 8px;">JSW Group<br/></td>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#5 Cyrus Poonawalla <br/></td>
<td style="border: 1px solid black; padding: 8px;">68<br/></td>
<td style="border: 1px solid black; padding: 8px;">$25.6 B</td>
<td style="border: 1px solid black; padding: 8px;">Serum Institute of India<br/></td>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#6 Dilip Shanghvi <br/></td>
<td style="border: 1px solid black; padding: 8px;">69<br/></td>
<td style="border: 1px solid black; padding: 8px;">$25.5 B</td>
<td style="border: 1px solid black; padding: 8px;">Sun Pharmaceutical Industries Ltd</td>
</tr>
<tr><td style="border: 1px solid black; padding: 8px;">#7 Kumar Birla <br/></td>
<td style="border: 1px solid black; padding: 8px;">97<br/></td>
<td style="border: 1px solid black; padding: 8px;">$18.9 B</td>
<td style="border: 1px solid black; padding: 8px;">Aditya Birla Group<br/></td>
</tr>
<tr>
<td style="border: 1px solid black; padding: 8px;">#8 Kushal Pal Singh<br/></td>
<td style="border: 1px solid black; padding: 8px;">98<br/></td>
<td style="border: 1px solid black; padding: 8px;">$18.9 B</td>
<td style="border: 1px solid black; padding: 8px;">DLF Limited<br/></td>
</tr>
<tr>
</tr><tr>
<td style="border: 1px solid black; padding: 8px;">#9 Lakshmi Mittal <br/></td>
<td style="border: 1px solid black; padding: 8px;">102</td>
<td style="border: 1px solid black; padding: 8px;">$17.2 B</td>
<td style="border: 1px solid black; padding: 8px;">ArcelorMittal<br/></td>
</tr>
<tr><td style="border: 1px solid black; padding: 8px;">#10 Radhakishan Damani <br/></td>
<td style="border: 1px solid black; padding: 8px;">105<br/></td>
<td style="border: 1px solid black; padding: 8px;">$16.7 B</td>
<td style="border: 1px solid black; padding: 8px;">DMart, Avenue Supermarts</td>
</tr>
</tbody>
</table>

In [ ]:
headings=table.find_all('th')
print(headings)

[<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>]

In [ ]:
head=[]
for i in headings:

    head.append(i.text)
print(head)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
#list comprehension syntax:
#list_name=[o/p for]
h=[i.text for i in headings]
print(h)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
#creating a dataframe
import pandas as pd
df_name=pd.DataFrame(columns=h)
print(df_name)

Empty DataFrame
Columns: [Name & India Rank, Global Rank, Net worth (US$), Company]
Index: []

In [ ]:
rows=table.find_all('tr')
print(rows)

[<tr>
<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>
<th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#1 Mukesh Ambani <br/></td>
<td style="border: 1px solid black; padding: 8px;">11</td>
<td style="border: 1px solid black; padding: 8px;">$113.0 B</td>
<td style="border: 1px solid black; padding: 8px;">Reliance Industries</td>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#2 Gautam Adani <br/></td>
<td style="border: 1px solid black; padding: 8px;">16<br/></td>
<td style="border: 1px solid black; padding: 8px;">$81.2 B</td>
<td style="border: 1px solid black; padding: 8px;">Adani Group</td>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#3 Shiv Nadar <br/></td>
<td style="border: 1px solid black; padding: 8px;">37<br/></td>
<td style="border: 1px solid black; padding: 8px;">$37.1 B</td>
<td style="border: 1px solid black; padding: 8px;">HCL Technologies   <br/></td>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#4 Savitri Jindal &amp; family <br/></td>
<td style="border: 1px solid black; padding: 8px;">58<br/></td>
<td style="border: 1px solid black; padding: 8px;">$28.9 B</td>
<td style="border: 1px solid black; padding: 8px;">JSW Group<br/></td>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#5 Cyrus Poonawalla <br/></td>
<td style="border: 1px solid black; padding: 8px;">68<br/></td>
<td style="border: 1px solid black; padding: 8px;">$25.6 B</td>
<td style="border: 1px solid black; padding: 8px;">Serum Institute of India<br/></td>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#6 Dilip Shanghvi <br/></td>
<td style="border: 1px solid black; padding: 8px;">69<br/></td>
<td style="border: 1px solid black; padding: 8px;">$25.5 B</td>
<td style="border: 1px solid black; padding: 8px;">Sun Pharmaceutical Industries Ltd</td>
</tr>, <tr><td style="border: 1px solid black; padding: 8px;">#7 Kumar Birla <br/></td>
<td style="border: 1px solid black; padding: 8px;">97<br/></td>
<td style="border: 1px solid black; padding: 8px;">$18.9 B</td>
<td style="border: 1px solid black; padding: 8px;">Aditya Birla Group<br/></td>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#8 Kushal Pal Singh<br/></td>
<td style="border: 1px solid black; padding: 8px;">98<br/></td>
<td style="border: 1px solid black; padding: 8px;">$18.9 B</td>
<td style="border: 1px solid black; padding: 8px;">DLF Limited<br/></td>
</tr>, <tr>
</tr>, <tr>
<td style="border: 1px solid black; padding: 8px;">#9 Lakshmi Mittal <br/></td>
<td style="border: 1px solid black; padding: 8px;">102</td>
<td style="border: 1px solid black; padding: 8px;">$17.2 B</td>
<td style="border: 1px solid black; padding: 8px;">ArcelorMittal<br/></td>
</tr>, <tr><td style="border: 1px solid black; padding: 8px;">#10 Radhakishan Damani <br/></td>
<td style="border: 1px solid black; padding: 8px;">105<br/></td>
<td style="border: 1px solid black; padding: 8px;">$16.7 B</td>
<td style="border: 1px solid black; padding: 8px;">DMart, Avenue Supermarts</td>
</tr>]

In [ ]:
rows=table.find_all('tr')
ind=0
for i in rows[1:6]
    #print(i)
    erd=i.find_all('td')
    #print(erd)
    rd=[j.text for j in erd]
    print(rd)
    df_name.loc[ind]=rd
    ind=ind+1

['#1 Mukesh Ambani ', '11', '$113.0 B', 'Reliance Industries']
['#2 Gautam Adani ', '16', '$81.2 B', 'Adani Group']
['#3 Shiv Nadar ', '37', '$37.1 B', 'HCL Technologies\xa0\xa0 ']
['#4 Savitri Jindal & family ', '58', '$28.9 B', 'JSW Group']
['#5 Cyrus Poonawalla ', '68', '$25.6 B', 'Serum Institute of India']

In [ ]:
df_name

,Name & India Rank,Global Rank,Net worth (US$),Company
0,#1 Mukesh Ambani,11,$113.0 B,Reliance Industries
1,#2 Gautam Adani,16,$81.2 B,Adani Group
2,#3 Shiv Nadar,37,$37.1 B,HCL Technologies
3,#4 Savitri Jindal & family,58,$28.9 B,JSW Group
4,#5 Cyrus Poonawalla,68,$25.6 B,Serum Institute of India

In [ ]:
df_name.to_csv('df_name.csv')